[Desktop Entry]
Name=AppImage Updater
Name[bg]=Актуализатор на AppImage
Name[cs]=Aktualizátor AppImage
Name[da]=AppImage Opdaterer
Name[de]=AppImage-Updater
Name[el]=Ενημερωτής AppImage
Name[et]=AppImage'i Värskendaja
Name[fi]=AppImage-päivittäjä
Name[fr]=Mise à jour d'AppImage
Name[he]=מעדכן AppImage
Name[hr]=Ažuriranje AppImage
Name[hu]=AppImage Frissítő
Name[is]=AppImage Uppfærari
Name[it]=Aggiornatore AppImage
Name[ja]=AppImage アップデーター
Name[ko]=AppImage 업데이터
Name[nl]=AppImage Updater
Name[no]=AppImage Oppdaterer
Name[pl]=Aktualizator AppImage
Name[pt]=Atualizador de AppImage
Name[pt_BR]=Atualizador de AppImage
Name[ro]=Actualizator AppImage
Name[ru]=Обновление AppImage
Name[sk]=Aktualizátor AppImage
Name[es]=Actualizador de AppImage
Name[sv]=AppImage-uppdaterare
Name[tr]=AppImage Güncelleyici
Name[uk]=Оновлювач AppImage
Name[zh]=AppImage 更新器
GenericName=Application Updater
GenericName[bg]=Актуализатор на Приложения
GenericName[cs]=Aktualizátor Aplikací
GenericName[da]=Applikationsopdaterer
GenericName[de]=Anwendungs-Updater
GenericName[el]=Ενημερωτής Εφαρμογών
GenericName[et]=Rakenduste Värskendaja
GenericName[fi]=Sovellusten Päivittäjä
GenericName[fr]=Mise à jour d'Applications
GenericName[he]=מעדכן יישומים
GenericName[hr]=Ažuriranje Aplikacija
GenericName[hu]=Alkalmazás Frissítő
GenericName[is]=Forritauppfærari
GenericName[it]=Aggiornatore di Applicações
GenericName[ja]=アプリケーション アップデーター
GenericName[ko]=애플리케이션 업데이터
GenericName[nl]=Applicatie Updater
GenericName[no]=Applikasjonsoppdaterer
GenericName[pl]=Aktualizator Aplikacji
GenericName[pt]=Atualizador de Aplicações
GenericName[pt_BR]=Atualizador de Aplicações
GenericName[ro]=Actualizator de Aplicații
GenericName[ru]=Обновление Приложений
GenericName[sk]=Aktualizátor Aplikácií
GenericName[es]=Actualizador de Aplicaciones
GenericName[sv]=Programuppdaterare
GenericName[tr]=Uygulama Güncelleyici
GenericName[uk]=Оновлювач Додатків
GenericName[zh]=应用程序更新器
Comment=Update AppImage applications
Comment[bg]=Актуализиране на AppImage приложения
Comment[cs]=Aktualizovat AppImage aplikace
Comment[da]=Opdater AppImage-applikationer
Comment[de]=AppImage-Anwendungen aktualisieren
Comment[el]=Ενημέρωση εφαρμογών AppImage
Comment[et]=Värskenda AppImage'i rakendusi
Comment[fi]=Päivitä AppImage-sovelluksia
Comment[fr]=Mettre à jour les applications AppImage
Comment[he]=עדכון יישומי AppImage
Comment[hr]=Ažurirajte AppImage aplikacije
Comment[hu]=AppImage alkalmazások frissítése
Comment[is]=Uppfæra AppImage forrit
Comment[it]=Aggiorna applicazioni AppImage
Comment[ja]=AppImage アプリケーションを更新
Comment[ko]=AppImage 애플리케이션 업데이트
Comment[nl]=AppImage-applicaties bijwerken
Comment[no]=Oppdater AppImage-applikasjoner
Comment[pl]=Aktualizuj aplikacje AppImage
Comment[pt]=Atualizar aplicações AppImage
Comment[pt_BR]=Atualizar aplicações AppImage
Comment[ro]=Actualizați aplicațiile AppImage
Comment[ru]=Обновить приложения AppImage
Comment[sk]=Aktualizovať AppImage aplikace
Comment[es]=Actualizar aplicaciones AppImage
Comment[sv]=Uppdera AppImage-program
Comment[tr]=AppImage uygulamalarını güncelleyin
Comment[uk]=Оновити програми AppImage
Comment[zh]=更新 AppImage 应用程序
Icon=appimage-update
Type=Application
NoDisplay=true
StartupNotify=true
Categories=System;
Exec=true